numpy==1.16.1
gym
tensorflow-gpu>=2.3.0
tensorflow_probability==0.11.1
-e git+https://github.com/axelbr/racecar_gym.git#egg=racecar_gym
imageio
imageio-ffmpeg
Pillow==7.2.0
osrf-pycommon
keras-ncp==1.0.4

