absl-py==0.11.0
alembic==1.5.5
asn1crypto==0.24.0
astunparse==1.6.3
atari-py==0.2.6
attrs==20.3.0
bsuite @ git+git://github.com/deepmind/bsuite.git@a07485f497b72669f1058639fa806b6127c4c6a9
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
chex==0.0.4
cliff==3.7.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.4
colorlog==4.7.2
cryptography==2.1.4
cycler==0.10.0
dataclasses==0.8
dataclasses-json==0.5.2
decorator==4.4.2
descartes==1.1.0
dm-acme==0.2.0
dm-control==0.0.355168290
dm-env==1.4
dm-haiku==0.0.3
dm-reverb==0.2.0
dm-sonnet==2.0.0
dm-tree==0.1.5
flatbuffers==1.12
frozendict==1.2
future==0.18.2
gast==0.3.3
glfw==2.1.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
idna==2.6
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==3.4.0
jax==0.2.9
jaxlib==0.1.61
joblib==1.0.1
kaleido==0.1.0
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
labmaze==1.0.3
lxml==4.6.2
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-enum==1.5.1
matplotlib==3.3.4
mizani==0.7.2
mypy-extensions==0.4.3
networkx==2.5
nptyping==1.4.0
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
optax==0.0.2
optuna==2.5.0
packaging==20.9
palettable==3.3.0
pandas==1.1.5
patsy==0.5.1
pbr==5.5.1
Pillow==7.2.0
plotly==4.14.3
plotnine==0.7.1
portpicker==1.3.1
prettytable==2.0.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.8
pycrypto==2.6.1
pyglet==1.5.0
pygobject==3.26.1
PyMySQL==1.0.2
PyOpenGL==3.1.5
pyparsing==2.4.7
pyperclip==1.8.2
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==5.4.1
-e git+https://github.com/axelbr/racecar_gym.git@a9e6f5f440f3804a3c2ea3ff5ec590824947e13d#egg=racecar_gym
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rlax @ git+git://github.com/deepmind/rlax.git@1e65b99982e37220d5d607f423b0ac750794d963
rsa==4.7
scikit-image==0.17.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.15.0
SQLAlchemy==1.3.23
statsmodels==0.12.2
stevedore==3.3.0
stringcase==1.2.0
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow-probability==0.12.1
termcolor==1.1.0
tifffile==2020.9.3
toolz==0.11.1
tqdm==4.58.0
trfl==1.1.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
typish==1.9.1
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yamldataclassconfig==1.3.2
zipp==3.4.0

