absl-py==0.8.1
ale-py==0.7.1
alembic==1.7.5
asn1crypto==0.24.0
astor==0.8.0
attrs==21.2.0
autopage==0.4.0
cliff==3.10.0
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.3.3
colorlog==6.6.0
cryptography==2.1.4
cycler==0.11.0
dataclasses==0.8
dataclasses-json==0.5.6
gast==0.2.2
google-pasta==0.1.7
greenlet==1.1.2
grpcio==1.24.3
gym==0.21.0
h5py==2.10.0
idna==2.6
imageio==2.13.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.2
importlib-resources==5.4.0
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
Mako==1.1.6
Markdown==3.1.1
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib==3.3.4
mypy-extensions==0.4.3
nptyping==1.4.4
numpy==1.17.3
opencv-python==4.5.4.60
opt-einsum==3.1.0
optuna==2.10.0
packaging==21.3
pandas==1.1.5
pbr==5.8.0
Pillow==8.4.0
prettytable==2.4.0
protobuf==3.10.0
pybullet==3.2.1
pycrypto==2.6.1
pyglet==1.5.21
pygobject==3.26.1
PyMySQL==1.0.2
pyparsing==3.0.6
pyperclip==1.8.2
python-apt==1.6.4
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.25
PyYAML==6.0
-e git+https://github.com/axelbr/racecar_gym.git@e117432572bb5744884ad6059e55282b03aea929#egg=racecar_gym
scipy==1.5.4
SecretStorage==2.3.1
six==1.11.0
SQLAlchemy==1.4.27
stable-baselines==2.10.2
stevedore==3.5.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tqdm==4.62.3
typing-extensions==4.0.1
typing-inspect==0.7.1
typish==1.9.3
wcwidth==0.2.5
Werkzeug==0.16.0
wrapt==1.11.2
yamldataclassconfig==1.3.2
zipp==3.6.0

