dm-acme
dm-acme[reverb]
dm-acme[tf]
dm-acme[jax]
trfl
dm-sonnet
jax
jaxlib
tensorflow
tensorflow_probability
imageio
imageio-ffmpeg
-e git+https://github.com/axelbr/racecar_gym.git@gym-api#egg=racecar_gym
optuna
torch
pymysql
sklearn
plotly
kaleido
stable-baselines3
